<ul class="menu_category">	
	{{#each cat}}
	<li>
		<a class="item{{#if active}} active{{/if}}"  href="/category/{{link}}">{{name}}</a> 
		{{#if cat}}{{> category_item_sub}}{{/if}}
	</li>
	{{/each}}
</ul>