.menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;

}
.menu > li {
    float: left;
    display: block;
    height: 35px;
    line-height: 35px;
    width: 100px;
    text-align: center;
    background-color: #4cabd8;
    position: relative;
}
.menu > li:hover {
    background-color: #3f3f40;
    color: #fb7f21;
}
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.submenu > li {
    display: block;
    height: 35px;
    line-height: 35px;
    width: 100px;
    color: white;
    background-color: #484848;
    text-decoration: none;
    list-style: none;
    position: relative;
}
.submenu > li:hover {
    background-color: #3f3f40;
    color: #fb7f21;
}
.menu > li:hover > ul.submenu {
    display: block;
}
.submenu > li:hover > ul.submenu {
    display: block;
    left: 100px;
    top: 0px;
}